
body {
    border: 1px solid black;
    width: 75%;
    height: 75%;
    margin: auto;
    text-align: center;
}
header {
    width: 50%;
    margin: 2em auto;
    text-align: center;
}
header > h1 {
    color: red;
    background-color: yellow;
}
header > div {
    display: inline-block;
    width: 49%;
}

.player-one {
    color: black;
    background-color: red;
    border-radius: 10px;
}
.player-two {
    color: black;
    background-color: blue;
    border-radius: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid;
    margin: auto;
    height: 400px;
    width: 500px;
}
.grid div {
    border: 1px solid black;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}


/* .play {
    border: 5px double black;
    color: red;
    background-color: yellow;
    font-weight: bold;
    margin-top: 10px;
} */