img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
}
body {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
header {
    width: 50%;
    margin: 1em auto;
}
header > h1 {
    color: red;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
}
header > div h2 {
    width: 80%;
    text-align: left;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}
div h2 {
    display: inline-block;
    width: 20%;
}

.player-one {
    color: black;
    background-color: red;
    border-radius: 10px;
}
.player-two {
    color: black;
    background-color: yellow;
    border-radius: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 10px double white;
    background-color: black;
    margin: 5px auto 0;
    padding: 10px 10px 0;
    height: 390px;
    width: 500px;
}
.grid div {
    border: 3px solid white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin: 1px;
}

.taken:not(.player-one, .player-two) {
    visibility: hidden;
}